.App {
  text-align: center;
}

.sb {margin-top: 40px;}

ul{list-style-type: none;
  margin-top: 10px !important}

li{font-family: Verdana, sans-serif;
  }

.bankname:hover{background-color: lightcyan;
  cursor: pointer}

button{
 background-color: royalblue;
      color: white;
      font-size: 16px;
      border-radius: 30px !important;
      border: none;
      padding: 0.3em 1.2em;
      margin-top: 10px !important;
      font-family: Verdana, sans-serif;
      text-align:center;
}

.star{font-size: 22px;
font-weight: bold}

.star:hover{
cursor: pointer;
color: royalblue}

.city{font-size: 18px;}

.cert{margin-top: 20px}
